<div class="container mt-4">
    <div class="card    ">
        <div class="card-header">
            Products list
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th> <th>NAME</th> <th>PRICE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <th>{{product.id}}</th> <th>{{product.name}}</th> <th>{{product.price}}</th> 
                        <td><i  *ngIf="product.promotion==true" class="bi bi-heart-fill text-success"></i></td>
                        <td>
                            <button class="btn btn-success" [ngClass]="!product.promotion ? 'btn-success' : 'btn-danger'" class="btn">
                                <span *ngIf="product.promotion==true" (click)="handleSetPromotion(product,false)">promotion On</span>
                                <span *ngIf="product.promotion==false" (click)="handleSetPromotion(product,true)">promotion off</span>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success"><i class="bi bi-plus"></i></button>  
                            <button class="btn btn-danger" (click)="handelDeleteProduct(product)"><i class="bi bi-trash"></i></button>
                        </td>  
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>>
